[Unit]
Description=Gunicorn instance to serve Pomma Resort API
After=network.target postgresql.service

[Service]
User=root
Group=www-data
WorkingDirectory=/opt/pomma/ResortApp
Environment="PATH=/opt/pomma/ResortApp/venv/bin"
ExecStart=/opt/pomma/ResortApp/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker main:app --bind 0.0.0.0:8000
Restart=always

[Install]
WantedBy=multi-user.target
